{{outlet}}
  <div class="bio-content">
    Work and Projects
  </div>
{{#each model as |work|}}
  <div class="skills-holder">
    <h3 class="project-title">{{work.title}}</h3>
     <div class="project-description date">
      <span> {{work.city}}</span><span> {{work.year}}</span>
    </div>
    <div class="project-tech">
       {{work.type}}
    </div>
    <div>
    {{#if work.projects}}
        {{#each work.projects as |proj|}}
            <div class="project-title">{{proj.title}}</div>
            <div class="project-tech">{{proj.description}}</div>
            <span>Technologies:</span><span class="project-description">{{proj.technologies}}</span>
    	{{/each}}
    {{/if}}
    </div>
  </div>
{{/each}}